
.mainSection{

  background-image: url("../img/bg.jpg");

  width: 100%;
  height: auto;

  top: 0;
  left: 0;


  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logoImage{

  display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
height: 660px;

}
.centerImage {
  background-color: red;
margin: 0;
  display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}
.circle{

  background-image: url();
  width: 130px;
  height: 130px;
  border: 2px solid #c3741b;
  border-radius: 50%;

  display: block;

}
.circle::after{

content: "";
padding-bottom: 100%;
display: flex;

}
.circleImage{
  padding: 14px;
  display: block;

}

.brandImage {

  background-color: transparent;

 height: 50%;

  width: 50%;


}
.flexBrand{

  background-color: transparent;
 z-index: 1111;

}
.flexBrand img{

  background-color: transparent;
 z-index: 1111;
 width: 100%;
 height: 100%;
 position: sticky;

}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
.links{
  color:#c3741b;
}
.links:hover{
  color:black;
}
.theme{
    color:#c3741b;
}


.container .container2 {
  background-color: #fff;
    max-width: 100%;

}

.coverMain{
  background-image: url("../img/logoOg.png"), url("../img/bg.jpg");
   background-position:  center,right bottom;
   background-repeat: no-repeat, repeat;
   background-size: 300px 400px,auto;
   background-attachment: scroll,fixed;
   padding: 250px;
   text-color:transparent;

}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 900px) {

  .flexBrand img{
      margin-top: 10px;
    background-color: transparent;
   z-index: 1111;
   width: auto;
   height: 20px;
   position: absolute;


  }

.coverMain {
      background-image: url("../img/logoOg.png"), url("../img/bg.jpg");
    background-position: center,center;
    background-repeat: no-repeat, no-repeat;
    background-size: 244px 239px,1270px;
    background-attachment: scroll,fixed;
    /* padding-left: 2px; */
    padding-right: 77px;
    padding-top: 2px;
    padding-bottom: 220px;
    text-color: transparent;
}
  .mobisection{
    /* Set rules to fill background */
    background-image: url("../img/bg.jpg");
    min-height: 100%;
    min-width: 124px;


  max-width: 100%;
       max-height: 100%;
       display: block;
  }
  .contentImage{
    display: none;
  }
html{font-size: 100%}

.h3, h3 {
    font-size: 14px;
}

}




/********************************/

@media only screen and (max-width: 200px) and (min-width: 50px)
{

}
@media only screen and (max-width: 400px) and (min-width: 200px)
{


}
@media only screen and (max-width: 600px) and (min-width: 400px)
{


}
@media only screen and (max-width: 800px) and (min-width: 600px)
{


}
@media only screen and (max-width: 1000px) and (min-width: 800px)
{

}
@media only screen and (max-width: 1200px) and (min-width: 1000px)
{


}
@media only screen and (max-width: 1400px) and (min-width: 1200px)
{


}
@media only screen and (max-width: 1600px) and (min-width: 1400px)
{


}
@media only screen and (max-width: 1800px) and (min-width: 1600px)
{


}
